<h3 class="mb-5">My Contact Details</h3>
<ul class="site-contact-details">
    <li>
        <span class="text-uppercase">Email</span>
        shahtirth229@gmail.com
    </li>
    <li>
        <span class="text-uppercase">ID</span>
        301108145
    </li>
    <li>
        <span class="text-uppercase">Github</span>
        <a href="https://github.com/tirth2904/portfolio">github.com/tirth2904/portfolio</a>
    </li>
    <li>
        <span class="text-uppercase">Address</span>
        Burj Khalifa, Dubai <br>
        4th Floor8 Lower
    </li>
</ul>