<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

<header>
	<title>About Tirth Shah</title>
    <%- include('partials/header'); %>
</header>

<main>

</main>


<footer>
    <%- include('partials/footer'); %>
</footer>

<%- include('partials/scripts'); %>

</body>
</html>
