<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

<header>
	<title>About Tirth Shah</title>
    <%- include('partials/header'); %>
</header>

<main>
    <section class="site-section" id="section-about">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <img src="images/image_1.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-lg-5 pl-lg-5">
                    <div class="section-heading">
                        <h2>About <strong>Me</strong></h2>
                    </div>
                    <p class="lead">Hi, My name is Tirth Shah, and I am an tech enthusiast and website developer.</p>
                    <p class="mb-5">
                        I like talking about latest web technologies, and maintain my own blog post. 
                        Developing websites is my passion. I hope to bring a smile to all my clients after delivering 
                        pixel-perfect websites to them. 
                    </p>
    
                    <p>
                        <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
                        <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>
                    </p>
                </div>
            </div>
    
    
        </div>
    </section>
    
    <section class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="section-heading text-center">
                        <h2>Client <strong>Testimonial</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
    
                    <div class="block-47 d-flex mb-5">
                        <div class="block-47-image">
                            <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid">
                        </div>
                        <blockquote class="block-47-quote">
                            <p>&ldquo;Very diligent guy! I enjoyed working with him from the start!.&rdquo;</p>
                            <cite class="block-47-quote-author">&mdash; Tim Cook, CEO <a href="#">Apple Inc.</a></cite>
                        </blockquote>
                    </div>
    
                </div>
                <div class="col-md-6">
    
                    <div class="block-47 d-flex mb-5">
                        <div class="block-47-image">
                            <img src="images/person_2.jpg" alt="Image placeholder" class="img-fluid">
                        </div>
                        <blockquote class="block-47-quote">
                            <p>&ldquo;I highly recommend Tirth Shah for your next project. Very hard-working guy.&rdquo;</p>
                            <cite class="block-47-quote-author">&mdash; August Alsina, CEO <a href="#">Music Production Inc.</a></cite>
                        </blockquote>
                    </div>
    
                </div>
    
                <div class="col-md-6">
    
                    <div class="block-47 d-flex mb-5">
                        <div class="block-47-image">
                            <img src="images/person_3.jpg" alt="Image placeholder" class="img-fluid">
                        </div>
                        <blockquote class="block-47-quote">
                            <p>&ldquo;Tirth Shah has been really awesome and I enjoyed every bit of working with him.&rdquo;</p>
                            <cite class="block-47-quote-author">&mdash; Muhammad Keith, CEO <a href="#">Hotels Madagascar Inc.</a></cite>
                        </blockquote>
                    </div>
    
                </div>
                <div class="col-md-6">
    
                    <div class="block-47 d-flex mb-5">
                        <div class="block-47-image">
                            <img src="images/person_4.jpg" alt="Image placeholder" class="img-fluid">
                        </div>
                        <blockquote class="block-47-quote">
                            <p>&ldquo;It's been long since I felt satisfied in a project. Tirth Shah delivers what he promises.&rdquo;</p>
                            <cite class="block-47-quote-author">&mdash; Adams Bent, CEO <a href="#">XYZ Inc.</a></cite>
                        </blockquote>
                    </div>
    
                </div>
    
            </div>
        </div>
    </section>
    
</main>


<footer>
    <%- include('partials/footer'); %>
</footer>

<%- include('partials/scripts'); %>

</body>
</html>
