<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

<header>
	<title>Tirth Shah Portfolio</title>
    <%- include('partials/header'); %>
</header>

<main>
    <section class="site-hero" style="background-image: url(images/image_1.jpg);" id="section-home" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row intro-text align-items-center justify-content-center">
				<div class="col-md-10 text-center pt-5">

					<h1 class="site-heading site-animate">Hello, I'm <strong class="d-block">Tirth shah</strong></h1>
					<strong class="d-block text-white text-uppercase letter-spacing">and this is My Rezume</strong>

				</div>
			</div>
		</div>
	</section> 


	<section class="site-section" id="section-blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-5">
					<div class="section-heading text-center">
						<h2>Blog on <strong>Medium</strong></h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="blog-entry">
						<a href="#"><img src="images/post_1.jpg" alt="Image placeholder" class="img-fluid"></a>
						<div class="blog-entry-text">
							<h3><a href="#">Creative Product Designer From Facebook</a></h3>
							<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>

							<div class="meta">
								<a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
								<a href="#"><span class="icon-bubble"></span> 5 Comments</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="blog-entry">
						<a href="#"><img src="images/post_2.jpg" alt="Image placeholder" class="img-fluid"></a>
						<div class="blog-entry-text">
							<h3><a href="#">Creative Product Designer From Facebook</a></h3>
							<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>

							<div class="meta">
								<a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
								<a href="#"><span class="icon-bubble"></span> 5 Comments</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="blog-entry">
						<a href="#"><img src="images/post_3.jpg" alt="Image placeholder" class="img-fluid"></a>
						<div class="blog-entry-text">
							<h3><a href="#">Creative Product Designer From Facebook</a></h3>
							<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>

							<div class="meta">
								<a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
								<a href="#"><span class="icon-bubble"></span> 5 Comments</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="site-section" id="section-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-5">
					<div class="section-heading text-center">
						<h2>Get <strong>In Touch</strong></h2>
					</div>
				</div>

				<div class="col-md-7 mb-5 mb-md-0">
					<form action="" class="site-form">
						<h3 class="mb-5">Get In Touch</h3>
						<div class="form-group">
							<input type="text" class="form-control px-3 py-4" placeholder="Your Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control px-3 py-4" placeholder="Your Email">
						</div>
						<div class="form-group">
							<input type="email" class="form-control px-3 py-4" placeholder="Your Phone">
						</div>
						<div class="form-group mb-5">
							<textarea class="form-control px-3 py-4"cols="30" rows="10" placeholder="Write a Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">
						</div>
					</form>
				</div>
				<div class="col-md-5 pl-md-5">
					<h3 class="mb-5">My Contact Details</h3>
					<ul class="site-contact-details">
						<li>
							<span class="text-uppercase">Email</span>
							site@gmail.com
						</li>
						<li>
							<span class="text-uppercase">Phone</span>
							+30 976 1382 9921
						</li>
						<li>
							<span class="text-uppercase">Fax</span>
							+30 976 1382 9922
						</li>
						<li>
							<span class="text-uppercase">Address</span>
							San Francisco, CA <br>
							4th Floor8 Lower  <br>
							San Francisco street, M1 50F
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>